/* header design  */
.inner-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  transition: none;
  overflow: hidden;
  padding: 10px;
  text-align: center;
  min-height: 0px;
  display: flex;
  place-content: center;
  transition: none;
  align-items: center;
  background-color: #f7f7f7;
}
.inner-banner .ads-iframe {
  border: 0pt none;
  display: inline-block;
  width: 1100px;
  height: 250px;
}
.inner-banner .ads-iframe button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 48px;
  width: 48px;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  visibility: visible;
  z-index: 1;
  color: white;
}
.inner-banner .ads-iframe i {
  position: absolute;
  right: 5px;
  top: 5px;
}
.header {
  position: relative;
  z-index: 1002;
  padding: 8.5px 0;
  border-bottom: 1px solid var(--color--third);
  box-sizing: border-box;
}
.header .container {
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}
.header .container::after {
  content: "";
  display: table;
  clear: both;
}
.header .logo {
  display: inline-block;
  float: left;
  padding-top: 2px;
}
.header .time-now {
  font-size: 14px;
  line-height: 32px;
  color: #757575;
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
  float: left;
}
.header .time-now::before {
  content: "";
  width: 1px;
  height: 26px;
  background: #e5e5e5;
  position: absolute;
  left: 0;
  top: 2px;
}
.header .new-area .locate::after {
  content: "";
  background-image: url(../picture/down-icon.svg);
  width: 10px;
  height: 6px;
  position: absolute;
  top: 6px;
  right: -16px;
}
.header .new-area:hover .locate::after {
  transform: rotate(180deg);
}
.header .weather-now {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .weather-now .weather {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -1px 0 0 7px;
}
.header .weather-now .weather i {
  margin-right: 3px;
}
.header .new-area {
  overflow: hidden;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}
.header .new-area:hover {
  overflow: visible;
}
.header .new-area:hover .sub-area {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header .new-area > span {
  position: relative;
  margin-right: 18px;
}
.header .sub-area {
  width: 360px;
  padding: 20px 15px;
  line-height: 1.2;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  top: 120%;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.header .new-area .sub-area .head .title {
  display: flex;
  align-items: center;
}
.new-area i {
  margin-right: 10px;
  color: var(--color--second);
  font-size: 20px;
}
.header .new-area .sub-area .head {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px 20px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4f4f4f;
}

.header .new-area .note-location {
  color: #9f9f9f;
  font-size: 12px;
  margin-top: 8px;
}
.sub-area li a {
  display: block;
  padding: 12px 15px;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--color--one);
}
input:checked + .slider::before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
.header .search {
  position: relative;
  margin-bottom: 10px;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.3;
}
.header .sub-area .search button {
  border: none;
  outline: none;
  position: absolute;
  width: 35px;
  height: 40px;
  background: none;
  left: 2px;
  top: 0;
}
.header .sub-area .search button i {
  font-size: 14.4px;
  color: var(--color--second);
}
.header .sub-area .search input {
  float: none;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  padding-left: 32px;
  width: 100%;
  height: 40px;
}
.header .sub-area .scroll-height {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-color: #e5e5e5 #fff;
  scrollbar-width: thin;
}
.header .sub-area .list-address .address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 8px;
  padding: 6px 16px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.header .sub-area .address .location {
  font: 400 14px Arial;
  color: #4f4f4f;
  padding: 0px;
  margin: 0;
  width: auto;
}
.header .sub-area .address .option {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.header .sub-area .address .option .defaut {
  display: none;
}
.header .sub-area .warp .active .option {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.header .sub-area .warp .active .option .defaut-check {
  display: none;
}
.header .sub-area .warp .active .option .view {
  display: none;
}
.header .sub-area .warp .active .option .defaut {
  display: flex;
}
.header .sub-area .address .option a i {
  font-size: 15px;
}
.header .sub-area .address .option a span + i {
  margin-left: 4px;
  margin-right: 0;
}
.header .sub-area .address .option a {
  background: #ffffff;
  border-radius: 8px;
  color: #4f4f4f;
  font-size: 12px;
  font-weight: 400;
  padding: 4px 6px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.header .sub-area .list-address .address:hover {
  background: #efefef;
}
.header .sub-area .list-address .address:hover .option {
  opacity: 1;
  visibility: visible;
}
.header .sub-area .list-address .active:hover .defaut-check:hover {
  display: flex;
}
.header .sub-area .list-address .address:hover .option a:hover {
  background: #757575;
  color: white;
}
.header .sub-area .list-address .address:hover a:hover i {
  color: white;
}
.header .sub-area .list-address .active:hover .option a:hover {
  background: #757575;
  color: white;
}
.header .sub-area .list-address .active:hover a:hover i {
  color: white;
}
.header .sub-area .list-address .active:hover .defaut {
  display: none;
}
.header .sub-area .list-address .active:hover .defaut-check {
  display: flex;
}
.header .sub-area .list-address .active:hover .view {
  display: flex;
}
.header .right {
  float: right !important;
  display: flex;
  /* align-items: center; */
}
.header .right .btn24hqua {
  position: relative;
}
.header .right .btn24hqua::after {
  width: 1px;
  height: 20px;
  background: #efefef;
  content: "";
  position: absolute;
  top: 5px;
  right: -11px;
}
.header .right .btn24hqua,
.header .right .evne {
  font-weight: lighter;
  height: 32px;
  line-height: 32px;
  padding: 0;
  border-radius: 3px;
  font-size: 14px;
  color: var(--color--second);
  display: inline-block;
}
.header .right .new-area {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  z-index: 1000;
  padding: 8px 0;
}
.header .right .new-area:hover .sub-area li a:hover {
  color: var(--color--one);
}
.evne {
  margin-left: 5px;
  position: relative;
}
.btn24hqua .ic,
.evne .ic {
  margin-right: 5px;
  margin-top: -1px;
}
.evne:after {
  width: 1px;
  height: 20px;
  background: #efefef;
  content: "";
  position: absolute;
  top: 5px;
  left: -11px;
}
.new-area .txt-area {
  display: flex;
  align-items: center;
  color: #757575;
  font-size: 14px;
  position: relative;
}

/*  */
.header .right .search::before {
  content: "";
  width: 1px;
  height: 24px;
  background: var(--color--third);
  position: absolute;
  left: 0;
  top: 4px;
}
.header .right .search {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  display: block;
  line-height: 32px;
}
.header .right .search-vne i {
  font-size: 15px;
  color: var(--color--second);
}
.search-vne {
  position: relative;
}

#keywordHeader {
  width: 0;
  padding: 0;
  opacity: 0;
  transition: width 0.3s ease, padding 0.3s ease, opacity 0.3s ease;
  border: none;
  outline: none;
}

#toggleSearch {
  display: none;
}
#toggleSearch:checked ~ #keywordHeader {
  width: 200px;
  padding: 5px 30px;
  opacity: 1;
  border: 1px solid #ccc;
  border-radius: 100px;
}

#toggleSearch:checked ~ .btn-search-vne {
  position: absolute;
  right: 175px;
}
.search-vne label {
  background: none;
  border: none;
  cursor: pointer;
}

.search-vne label:focus {
  outline: none;
}
.header .search-vne {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  line-height: 32px;
}

.header .search-vne input {
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  padding: 0 30px 0 14px;
  margin: 0;
  width: 160px;
}
.header .right .myvne_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  line-height: 32px;
  padding: 0;
}
.header .right .myvne_form_log {
  margin-left: 15px;
  display: flex;
  /* align-items: center; */
}
.header .right .myvne_form_log i {
  color: var(--color--second);
}
.header .right .myvne_form_log .login i {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 2px 0 0;
}
.header .right .myvne_form_log .login a {
  color: #4f4f4f;
}
.header .right .myvne_form_log .login:hover a {
  color: var(--color--four);
}
.header .right .myvne_form_log .myvne_notification i {
  font-size: 20px;

  background: none;
  padding: 6px 10px;
}
/* Header end  */

/* Navigation  */

.main-nav {
  z-index: 1001;
  background-color: white;
  width: 100%;
  /* float: left; */
  /* clear: both; */
  font-size: 14px;
  /* overflow: hidden; */
  border-bottom: 1px solid #e5e5e5;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.main-nav .parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-nav .parent .home-bg {
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 0px;
}
.home-bg i {
  z-index: 0;
  position: absolute;
  font-size: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color--second);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.main-nav .parent li {
  /* overflow: hidden; */
  height: 100%;
  margin-right: 12px;
  position: relative;
  font-weight: 400;
  color: #222222;
  transition-duration: 200ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
#alter-icon {
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  /* width: 20px; */
  height: 100%;
  object-fit: contain;
}
.main-nav .parent li a {
  height: 100%;
  padding: 16.5px 0;
  display: block;
  white-space: nowrap;
}
.main-nav .sub {
  z-index: 999;
  width: 190px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: calc(100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
  transition-property: opacity, top, visible;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-top: 1px solid #9f224e;
}

.main-nav .sub li {
  font-weight: normal;
  color: #222;
}
.main-nav .sub li a {
  padding: 10px 15px;
  color: #333 !important;
}
.main-nav .parent li:hover .sub {
  opacity: 1;
  visibility: visible;
}
.main-nav .parent li:hover .sub li:hover {
  text-decoration: underline;
}
.main-nav .parent li:hover a {
  color: var(--color--one);
}
.main-nav .parent .all-menu:hover a i {
  color: var(--color--one);
}
.main-nav .parent .kinhdoanh:hover a {
  color: #0675bd;
}
.main-nav .parent .kinhdoanh:hover .sub {
  border-top-color: #0675bd;
}

.main-nav .parent .khoahoc:hover a {
  color: #b96006;
}
.main-nav .parent .khoahoc:hover .sub {
  border-top-color: #b96006;
}
.main-nav .parent .giaitri:hover a {
  color: #de3d6e;
}
.main-nav .parent .giaitri:hover .sub {
  border-top-color: #de3d6e;
}
.main-nav .parent .giaoduc:hover a {
  color: #b96006;
}
.main-nav .parent .giaoduc:hover .sub {
  border-top-color: #b96006;
}

.main-nav .parent .suckhoe:hover a {
  color: #09847e;
}
.main-nav .parent .suckhoe:hover .sub {
  border-top-color: #09847e;
}

.main-nav .parent .doisong:hover a {
  color: #51a8c2;
}
.main-nav .parent .doisong:hover .sub {
  border-top-color: #51a8c2;
}

.main-nav .parent .thethao:hover a {
  color: #65b136;
}
.main-nav .parent .thethao:hover .sub {
  border-top-color: #65b136;
}
.main-nav .parent .dulich:hover a {
  color: #0675bd;
}
.main-nav .parent .dulich:hover .sub {
  border-top-color: #0675bd;
}

.main-nav .parent .sohoa:hover a {
  color: #9e7006;
}
.main-nav .parent .sohoa:hover .sub {
  border-top-color: #9e7006;
}

.main-nav .parent .xe:hover a {
  color: #616f7c;
}
.main-nav .parent .xe:hover .sub {
  border-top-color: #616f7c;
}
.main-nav .parent .home:hover .home-bg {
  background-color: var(--color--one);
}
.main-nav .parent .home:hover i {
  color: white;
  transition: 0.5s;
}
.all-menu a i {
  color: var(--color--second);
}
.main-nav .parent .newlest {
  opacity: 1;
  visibility: visible;
  width: 73.95px;
  padding-right: 15px;
  margin-right: 15px;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  z-index: 2;
}
.main-nav .parent .newlest a {
  color: var(--color--one);
}
.main-nav .parent .newlest::after {
  content: "";
  width: 1px;
  height: 14px;
  background: #e5e5e5;
  position: absolute;
  top: 18px;
  right: 0;
}
/* Navigation end  */

/* begin body video */
.nav-video {
  display: flex;
}
.nav-video .text {
  margin-top: 15px;
  margin-right: 10px;
}
.container {
  max-width: 1100px;
}
.div-video {
  width: 1100px;
  height: 539.2px;
  margin-top: 20px;
  border-top: 0.5px solid #cf0f0f;
}
.div-video::after {
  content: "";
  position: absolute;
  display: block;
  width: 1100px;
  height: 0.5px;
  bottom: 5px;
  left: 0;
  background-color: rgb(210, 207, 207);
}

.box-video {
  margin: 0;
  width: 100%;
  height: 458.3px;
  display: flex;
  /* overflow: hidden; */
}
.box-video::-webkit-scrollbar {
  width: 5px;
  height: 203.43px;
}

.left-box {
  width: 720px;
  height: 458px;
}
.right-box {
  margin: 0px 20px;
  width: 380px;
  height: 458px;
}
.box-video .left-box .video-main {
  width: 720px;
  height: 405px;
  margin-top: 0px;
}
.box-video .video-main video {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 0px;
}
.box-video .left-box .content-video {
  width: 720px;
  height: auto;

  padding-top: 15px;
}
.box-video .left-box .content-video h1 {
  margin-top: 4px;
  width: 720px;
  height: 38.4px;
  font-size: 24px;
  font-family: serif;
}

.box-video .right-box {
  width: 345px;
  height: 458px;
  /* background-color: rgb(183, 214, 156); */
}

.right-box .menu-video .option-video {
  width: 345.2px;
  height: 71.5px;
  display: flex;
  position: relative;
  margin-bottom: 33px;
}

/* thanh cuộn video */
.right-box .menu-video {
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -25px;
}

.menu-video {
  max-height: 100%; /* Đặt chiều cao tối đa cho menu-video */
  overflow-y: auto; /* Tạo thanh cuộn dọc khi nội dung bị tràn */
}

/* Tùy chỉnh thanh cuộn */
.menu-video::-webkit-scrollbar {
  width: 5px;
  height: 180px;
}

.menu-video::-webkit-scrollbar-track {
  background: white;
}

.menu-video::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 20px;
}

/*END thanh cuộn video */

.right-box .menu-video .option-video .left-option {
  width: 120px;
  height: 67.5px;
  margin-top: 4px;
  display: flex;
}
.right-box .menu-video .option-video .right-option {
  width: 225.2px;
  height: 67.5px;
  margin-top: 4px;
  display: block;
}

.right-box .menu-video .option-video video {
  width: 120px;
  height: 67.5px;
  object-fit: cover;
}
.right-box .option-video .right-option a {
  display: block;
  font-size: 18px;
  font-family: serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.option-video ::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  bottom: -20px;
  left: 0;
  background-color: rgb(214, 214, 214);
}

/* end body */

/* /* design body * */

/* /* design body end * */
/* section-1  */
.section-1 {
  padding-top: 20px;
}
.item-news img {
  height: 312px;
  width: 520px;
  object-fit: cover;
}
.item-news {
  display: flex;
}
.item-news strong {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.item-news p {
  line-height: 20px;
}
.wrap-title {
  padding: 0px 0px 5px 20px;
}
.section-1 .col-right {
  padding-left: 20px;
}
.section-1 .sub-news {
  display: flex;
}
.section-1 .sub-news {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  padding-left: 0;
  height: auto;
}
.col-left {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.list-sub-feature {
  display: flex;
  justify-content: space-between;
}
.section-1 .list-item-feature {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  align-content: space-between;
  width: 33%;
  padding: 0;
  margin-right: 20px;
  position: relative;
}
.list-item-feature .thumb-art {
  order: 2;
}
.list-item-feature .title-news {
  order: 1;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
  font-family: "Merriweather", serif;
  transition: 0.4s;
}
.list-item-feature .title-news a {
  margin: 0;
  padding: 0;
}
.section-1 .sub-news ul {
  width: 100%;
}
.section-1 .sub-news .list-item-feature img {
  height: 150px;
  width: 250px;
  order: 2;
}
.section-1 .sub-news .list-item-feature h3 {
  order: 1;
}
.infor-author .thumb-art {
  border-radius: 50%;
  position: relative;
  height: 72px;
  width: 72px;
  overflow: hidden;
}
.infor-author .thumb-art img {
  object-position: bottom;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.item-gocnhin > a {
  color: var(--color--one);
}
.item-gocnhin .description {
  margin-bottom: 30px;
}
.section-1 .title-news:hover {
  color: var(--color--four);
}
.section-1 .title-news a:hover {
  color: var(--color--four);
}
.section-1 .topic:hover a {
  color: var(--color--four);
}
/* section-1  end*/
/* section-2*/
.section-2 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.section-2 .wrap {
  display: flex;
  margin-top: 20px;
}

.section-2 .col-left {
  width: 35%;
  padding-right: 20px;
  position: relative;
}
.section-2 .col-right {
  position: relative;
  width: 65%;
}
.section-2 .wrap::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  position: absolute;
  bottom: -20px;
  right: 0;
}
.section-2 .col-left:after {
  content: "";
  width: 1px;
  height: 100%;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right: 0;
}
.section-2 .col-left {
  border-bottom: none;
}
.section-2 .col-left .inner-news {
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
  padding-top: 12px;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.section-2 .col-left .inner-news:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}
.section-2 .col-left .inner-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2 .col-left .inner-main h3 {
  font-size: 15px;
  font-family: "Merriweather", serif;
  cursor: pointer;
  color: var(--color--title);
}
.section-2 .col-left .inner-main .inner-title {
  cursor: pointer;
}
.section-2 .col-left .inner-main img {
  width: 145px;
  height: 87px;
}
.section-2 .col-left .inner-main a {
  font-size: 14px;
  padding: 0px 20px 0 10px;
  color: var(--color--second);
  line-height: 20px;
  text-align: justify;
}
.section-2 .inner-title a:hover {
  transition: 0.4s;
  color: var(--color--four);
}
.section-2 .col-right {
  padding-left: 20px;
}
.topic-nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding-left: 15px; */
  margin-bottom: 12px;
}
.topic-nav li {
  padding: 0 10px;
  font-size: 13px;
  transition: 0.5s;
}
.topic-nav li a {
  color: var(--color--second);
}
.topic-nav li:first-child a {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: var(--color--title);
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #9f224e;
  font-weight: bolder;
}
.topic-nav li:first-child {
  padding-left: 0;
}
.topic-nav li a:hover {
  color: var(--color--four);
}
.section-2 .topic-kinhdoanh {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}
.kinhdoanh-main .item-news img {
  height: 135px;
  width: 225px;
}
.kinhdoanh-main .item-news:first-child {
  width: 67.648%;
  background: none;
  padding-bottom: 0;
}
.kinhdoanh-main .item-news:last-child {
  width: 32.352%;
  padding-left: 20px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;

  border-bottom: none;

  border-left: 1px solid #e5e5e5;
}

.kinhdoanh-main {
  position: relative;
  display: flex;
}
.kinhdoanh-main::after {
  content: "";
  display: block;
  position: absolute;
  height: 0.5px;
  width: 100%;
  bottom: -15px;
  background-color: #e5e5e5;
}
.kinhdoanh-main .item-news:first-child {
  display: flex;
  align-items: center;
}
.kinhdoanh-main .item-news:last-child {
  display: block;
  align-items: flex-start;
  position: relative;
  top: 0;
}

.kinhdoanh-main .item-news .title-news {
  font-size: 15px;
  color: var(--color--title);
  font-weight: 700;
  font-family: "Merriweather", serif;
  line-height: 25px;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.kinhdoanh-main .item-news .title-news:hover {
  color: var(--color--four);
}
.kinhdoanh-main .item-news:first-child .wrap-title {
  padding: 0 20px 0 15px;
}
.kinhdoanh-main .item-news:last-child .wrap-title {
  padding-left: 0;
  padding-bottom: 0;
}
.kinhdoanh-main .item-news .description a {
  font-size: 14px;
  color: #4f4f4f;
}
.kinhdoanh_sub {
  display: flex;
  justify-content: space-between;
}
.kinhdoanh_sub .title-news {
  max-width: 200px;
  padding-top: 15px;
  margin-top: 15px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
  padding-left: 15px;
  position: relative;
}

.kinhdoanh_sub .title-news a {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  font-size: 14px;
  color: var(--color--title);
  font-weight: 700;
  font-family: "Merriweather", serif;
  line-height: 25px;
}
.kinhdoanh_sub .title-news a::before {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  width: 7px;
  left: 0;
  top: 22px;
  background-color: var(--color--second);
  border-radius: 50%;
}
.kinhdoanh_sub .title-news a:hover {
  color: var(--color--four);
}

.section-2 .tygia-news {
  display: block;
  position: relative;
  margin-bottom: 8px;
  border-radius: 4px;
  background: #f7f7f7;
  max-height: 34px;
  overflow: hidden;
}
.section-2 .tygia-news ul {
  display: flex;
}
.section-2 .tygia-news ul li {
  padding: 9px 10px;
  font-size: 12px;
}
.section-2 .tygia-news ul li i {
  color: var(--color--second);
  opacity: 0.5;
}
.section-2 .net-zero {
  position: relative;
  border-radius: 5px;
}
.section-2 .net-zero .topic-nav {
  align-items: center;
}
.section-2 .net-zero .topic-nav li:first-child a {
  border: none;
  padding: 0;
  display: flex;
}
.section-2 .net-zero .topic-nav li:first-child img {
  width: 70px;

  height: 19.25px;
}
.section-2 .net-zero .topic-nav li a:hover {
  color: #319e98;
}
.section-2 .net-zero .item-news img {
  width: 80px;
  height: 48px;
}
.section-2 .net-zero .item-news:first-child {
  width: 60%;
  margin-bottom: 0;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.section-2 .net-zero .item-news:last-child {
  width: 40%;
  margin-bottom: 0;
  padding-left: 15px;
  border: none;
}
.section-2 .net-zero .item-news:last-child .description a {
  color: var(--color--title);
}
.section-2 .net-zero .item-news:last-child .description a::before {
  content: "";
  background: #c8d8f6;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
}
.section-2 .net-zero .item-news:first-child .wrap-title {
  padding-right: 0;
}
.section-2 .net-zero {
  padding: 10px;
  background: #f3f6fc;
}
.section-2 .net-zero .kinhdoanh-main::after {
  display: none;
}
.section-2 .net-zero::after {
  content: "";
  background-color: #e5e5e5;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0px;
}
.section-2 .topic-batdongsan {
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 15px;
}
.section-2 .topic-batdongsan .topic-nav li:first-child a:hover {
  color: var(--color--one);
}
.section-2 .topic-thethao {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  position: relative;
}
.section-2 .theothao-lich {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  min-height: 72px;
}
.section-2 .theothao-lich .theothao-box {
  width: 20%;
  padding: 5px;
  position: relative;
}
.section-2 .theothao-lich .theothao-box::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #e5e5e5;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
.section-2 .theothao-lich .theothao-box .wrap-box img {
  width: 12px;
}
.section-2 .theothao-lich .theothao-box a > p {
  color: var(--color--second);
  width: 100%;
  margin-bottom: 10px;

  font-size: 11px;
  line-height: 100%;
  white-space: nowrap;
}
.section-2 .theothao-lich .theothao-box:hover {
  background-color: #f7f7f7;
}
.section-2 .theothao-lich .theothao-box .wrap-box {
  margin-bottom: 8px;
  font: 500 12px / 100% arial;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.section-2 .theothao-lich .thethao-next {
  position: absolute;
  right: 0;
  background-color: white;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.section-2 .theothao-lich .thethao-next i {
  color: var(--color--second);
  opacity: 0.5;
}
.section-2 .theothao-lich .thethao-next:hover {
  background-color: #f7f7f7;
}
.section-2 .theothao-lich::after {
  content: "";
  background-color: #bdbdbd;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0px;
}
.section-2 .topic-thethao .topic-nav li:first-child a:hover {
  color: #65b136;
}
.section-2 .topic-giaitri {
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 15px;
}
.section-2 .topic-giaitri .item-news:last-child {
  padding: 0;
}
.section-2 .topic-giaitri .item-news:last-child .wrap-title {
  background: #f7f7f7;
  padding: 12px;
  position: relative;
  z-index: 1;
}
.section-2 .topic-giaitri .item-news:last-child .wrap-title::before {
  content: "Sách";
  display: block;
  background: #f7f7f7;
  position: absolute;
  font-size: 13px;
  color: var(--color--one);
  top: -40px;
  left: -1px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 178px;
  padding-top: 10px;
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  /* z-index: 0; */
}
.section-2 .topic-giaitri .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.section-2 .topic-suckhoe {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.section-2 .topic-suckhoe .topic-nav li:first-child a:hover {
  color: #09847e;
}
.section-2 .suckhoe-camnang {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.section-2 .suckhoe-camnang > ul {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;
}
.section-2 .suckhoe-camnang > span {
  color: var(--color--second);
  margin-right: 7px;
}
.section-2 .suckhoe-camnang ul li {
  margin-right: 5px;
}
.section-2 .suckhoe-camnang > ul li a {
  display: inline-block;
  background: #bcdff4;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  color: #0c4b71;
  padding: 5px 20px;
}
.section-2 .suckhoe-camnang > ul li:last-child {
  position: absolute;
  width: 75px;
  height: 100%;
  right: 0;
  /* top: 0; */
  display: flex;
  background-color: white;
  /* padding: 0 10px; */
}
.section-2 .suckhoe-camnang > ul li:last-child::before {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  left: -45px;
  top: 0;
  background: linear-gradient(
    270deg,
    #fff -4.17%,
    rgba(255, 255, 255, 0) 98.96%
  );
  z-index: 1;
}
.section-2 .suckhoe-camnang > ul li:last-child .box {
  border: 1px solid #e5e5e5;
  padding: 5px 10px;
  margin-left: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section-2 .suckhoe-camnang > ul li:last-child .box i {
  font-size: 10px;
  color: var(--color--second);
}
.section-2 .topic-doisong {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.section-2 .topic-doisong .topic-nav li:first-child a:hover {
  color: #51a8c2;
}
.section-2 .topic-giaoduc .topic-nav li:first-child a:hover {
  color: #9e7006;
}
/* section-2  end*/

/* section-3*/
.section-3 {
  margin-top: 20px;
  padding-top: 10px;
}
.section-3 .podcasts-main .item-news img {
  height: 120px;
  width: 120px;
  cursor: pointer;
}
.section-3 .podcasts-main .item-news {
  position: relative;
  width: 50%;
}
.section-3 .podcasts-main .item-news:last-child {
  display: flex;
}
.section-3 .podcasts-main .item-news:last-child .wrap-title {
  padding: 0 20px 0 15px;
}
.section-3 .podcasts-main .item-news .wrap-title .title-news {
  font-size: 18px;
}
.section-3 .podcasts-main .item-news span {
  position: absolute;
  display: inline-block;
  color: white;
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.4px;
  cursor: pointer;
}
.section-3 .podcasts-main .item-news i {
  font-size: 12.4px;
}
.section-3 .podcasts-main .item-news:first-child span {
  left: 5px;
  bottom: 5px;
}
.section-3 .podcasts-main .item-news:last-child span {
  left: 25px;
  bottom: 5px;
}
.section-3 .podcasts-main .sub_podcast {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 15px;
}
.section-3 .podcasts-main .sub_podcast .title-news {
  padding: 0 20px;
  position: relative;
}
.section-3 .podcasts-main .sub_podcast .title-news:first-child {
  padding-left: 0;
}
.section-3 .podcasts-main .sub_podcast .title-news:last-child {
  padding-right: 0;
}
.section-3 .podcasts-main .sub_podcast .title-news .title {
  font-size: 15px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}
.section-3 .podcasts-main .sub_podcast .title-news .box {
  margin-bottom: 10px;
}
.section-3 .podcasts-main .sub_podcast .title-news .box a {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.section-3 .podcasts-main .sub_podcast .title-news .title i {
  color: var(--color--second);
  margin-right: 5px;
}
.section-3 .podcasts-main .sub_podcast .title-news .desc {
  font-size: 14px;
  color: #4f4f4f;
}
.section-3 .podcasts-main .sub_podcast .title-news::after {
  width: 1px;
  height: 100%;
  content: "";
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right: 0px;
}
.section-3 .podcasts-main .sub_podcast .title-news:last-child::after {
  display: none;
}
.section-3 .podcasts-main .sub_podcast .title-news .box > a:hover {
  color: var(--color--four);
}
/* section-3  end*/
/* section-4*/
.section-4 {
  margin-top: 20px;
  position: relative;
  margin-bottom: 15px;
}
.section-4 .vnexpress-register {
  position: relative;
  border: 1px solid #bdbdbd;
  padding: 15px;
  margin: 0 auto;
  width: 65%;
  display: flex;
  background-color: #f6f6f6;
  justify-content: space-between;
  align-items: center;
}
.section-4 .vnexpress-register .box:first-child {
  display: flex;
  margin-right: 20px;
}
.section-4 .vnexpress-register .box:first-child .vnexpress-icon {
  padding-right: 10px;
}
.section-4 .vnexpress-register .box:first-child .vnexpress-icon img {
  height: 20px;
  width: 30px;
}
.section-4 .vnexpress-register .box:first-child .title {
  color: var(--color--title);
  font-size: 16px;
  font-family: "Merriweather", serif;
}
.section-4 .vnexpress-register .box:first-child .title p {
  font-size: 14px;
  color: var(--color--second);
  font-family: Arial, Helvetica, sans-serif;
}
.section-4 .vnexpress-register .box:last-child .btn-regis {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color--one);
  color: white;
  padding: 15px 25px;
  margin-bottom: 4px;
  cursor: pointer;
  white-space: nowrap;
  /* width: 290px; */
}
.section-4 .vnexpress-register .box:last-child .btn-regis i {
  color: #bdbdbd;
  margin-right: 5px;
  font-size: 16px;
}
.section-4 .vnexpress-register .box:last-child p {
  display: block;
  font-size: 11px;
  color: var(--color--second);
}

/* section-4  end*/
/* section-5*/
.section-5 .container-extra {
  padding-top: 20px;
  background-color: #fcfaf6;
  border: 1px solid #e5e5e5;
}
.section-5 {
  margin-bottom: 20px;
}
.section-5 .wrap {
  padding: 0 15px;
}
.section-5 .topic-khoahoc {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.header-title {
  margin-bottom: 20px;
}
.header-title h2 {
  font-size: 28px;
  font-family: "Merriweather", serif;
}
.topic-khoahoc .header-title h2 {
  color: #9e7006;
}
.topic-khoahoc .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.div-video .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.topic-thoisu .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.topic-thegioi .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.topic-phapluat .topic-nav li:first-child a:hover {
  color: #de3d6e;
}
.topic-xe .topic-nav li:first-child a:hover {
  color: #616f7c;
}
.topic-main {
  display: flex;
  margin-top: 20px;
}
.topic-main img {
  cursor: pointer;
}
.topic-main .main-left {
  width: 49.092%;
  padding-right: 40px;
  position: relative;
}
.topic-main .main-center {
  position: relative;
  width: 25.455%;
  padding-right: 40px;
  position: relative;
}
.topic-main .main-left::after {
  width: 1px;
  height: 100%;
  content: "";
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right: 20px;
}
.topic-main .main-center::after {
  width: 1px;
  height: 100%;
  content: "";
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right: 20px;
}
.topic-main .main-right {
  width: 25.453%;
}
.topic-main .wrap-title > a {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.topic-main .wrap-title > a:hover {
  color: var(--color--four);
}
.topic-main .main-left .item-news {
  display: block;
}
.topic-main .main-left .item-news img {
  height: 299.52px;
  width: 499.23px;
  margin-bottom: 10px;
}

.topic-main .main-left .item-news .wrap-title {
  padding: 0;
}
.topic-main .main-left .item-news .wrap-title > a {
  font-size: 24px;
  font-family: "Merriweather", serif;
  margin-bottom: 10px;
  display: block;
}
.topic-main .main-left .item-news .wrap-title .description {
  font-size: 15px;
}
.main-left::after {
  width: 1px;
  height: 100%;
  content: "";
  background: #e5e5e5;
  position: absolute;
  top: 0;
  right: 20px;
}
.topic-main .main-center .item-news {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.topic-main .main-center .item-news:last-child {
  border: none;
}
.topic-main .main-center .item-news .wrap-title {
  padding: 0;
}
.topic-main .main-center .item-news .wrap-title > a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  line-height: 25px;
}
.topic-main .main-center img {
  height: 239.59px;
  height: 143.75px;
  margin-bottom: 10px;
}
.topic-main .main-right .item-news {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.topic-main .main-right .item-news:last-child {
  border: none;
}
.topic-main .main-right .wrap-title {
  padding: 0;
  order: 1;
  padding-right: 15px;
}
.topic-main .main-right .wrap-title > a {
  font-size: 15px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  line-height: 25px;
}
.topic-main .main-right img {
  order: 2;
}
.topic-main .main-right img {
  height: 60px;
  width: 100px;
}
.section-5 .topic-sohoa {
  padding-bottom: 20px;
}
.section-5 .wrap .topic-nav li:first-child a {
  border: none;
}
/* section-5  end*/

/* section-6*/
.nav-video {
  display: flex;
}
.nav-video .text {
  margin-top: 15px;
  margin-right: 10px;
}
.container {
  max-width: 1100px;
}
.div-video {
  width: 1100px;
  height: 539.2px;
  margin-top: 20px;
}

.box-video {
  margin: 0;
  width: 100%;
  height: 458.3px;
  display: flex;
  /* overflow: hidden; */
}
.box-video::-webkit-scrollbar {
  width: 5px;
  height: 203.43px;
}

.left-box {
  width: 720px;
  height: 458px;
}
.right-box {
  margin: 0px 20px;
  width: 380px;
  height: 458px;
}
.box-video .left-box .video-main {
  width: 720px;
  height: 405px;
  margin-top: 0px;
}
.box-video .video-main video {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 0px;
}
.box-video .left-box .content-video {
  width: 720px;
  height: auto;

  padding-top: 15px;
}
.box-video .left-box .content-video h1 {
  margin-top: 4px;
  width: 720px;
  height: 38.4px;
  font-size: 24px;
  font-family: serif;
}

.box-video .right-box {
  width: 345px;
  height: 458px;
  /* background-color: rgb(183, 214, 156); */
}

.right-box .menu-video .option-video {
  width: 345.2px;
  height: 71.5px;
  display: flex;
  position: relative;
  margin-bottom: 33px;
}

/* thanh cuộn video */
.right-box .menu-video {
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -25px;
}

.menu-video {
  max-height: 100%; /* Đặt chiều cao tối đa cho menu-video */
  overflow-y: auto; /* Tạo thanh cuộn dọc khi nội dung bị tràn */
}

/* Tùy chỉnh thanh cuộn */
.menu-video::-webkit-scrollbar {
  width: 5px;
  height: 180px;
}

.menu-video::-webkit-scrollbar-track {
  background: white;
}

.menu-video::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 20px;
}



/*END thanh cuộn video */

.right-box .menu-video .option-video .left-option {
  width: 120px;
  height: 67.5px;
  margin-top: 4px;
  display: flex;
}
.right-box .menu-video .option-video .right-option {
  width: 225.2px;
  height: 67.5px;
  margin-top: 4px;
  display: block;
}

.right-box .menu-video .option-video video {
  width: 120px;
  height: 67.5px;
  object-fit: cover;
}
.right-box .option-video .right-option a {
  display: block;
  font-size: 18px;
  font-family: serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* section-6  end*/
/* section-7*/
.section-7 .wrap {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-7 {
  position: relative;
}
.section-7 .wrap::after {
  width: 100%;
  background: #e5e5e5;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.section-7 .wrap::before {
  width: 100%;
  background: #e5e5e5;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.section-7 .wrap .section-main .item-news {
  display: block;
}
.section-7 .wrap .topic-thoisu {
  position: relative;
  width: 33.33333%;
  padding-right: 20px;
}
.section-7 .wrap .topic-thoisu .topic-nav {
  white-space: nowrap;
}
.section-7 .wrap .topic-thoisu::after {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #e5e5e5;
}
.section-7 .wrap .topic-thegioi::after {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #e5e5e5;
}
.section-7 .wrap .topic-thegioi {
  position: relative;
  width: 33.33333%;
  padding: 0 20px;
}
.section-7 .wrap .topic-phapluat {
  width: 33.33333%;
  padding-left: 20px;
}
.section-7 .wrap .item-news img {
  height: 204px;
  width: 100%;
  cursor: pointer;
}
.section-7 .wrap .wrap-title {
  padding: 0;
}
.section-7 .wrap .item-news .description {
  padding: 0;
}
.section-7 .wrap .item-news {
  width: 100%;
  background: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}
.section-7 .wrap .wrap-title > a {
  display: inline-block;
  font-size: 15px;
  font-family: "Merriweather", serif;
  color: var(--color--title);
  font-weight: bold;
  margin-bottom: 15px;
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.section-7 .wrap .wrap-title > a:hover {
  color: var(--color--four);
}
.section-7 .wrap .wrap-title span {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
.section-7 .wrap .item-news .wrap-title > a {
  padding-top: 15px;
}
.section-7 .wrap .wrap-title .description > a {
  color: #4f4f4f;
  font-size: 14px;
}
/* section-7  end*/

/* section-8*/

.section-8 .container-extra {
  padding-top: 20px;
  background-color: white;
}
.section-8 {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-8 .wrap {
  padding: 0 15px;
}
.section-8 .topic-dulich {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.section-8 .topic-xe .wrap-title > a {
  margin-top: 15px;
}
/* section-8  end*/
/* section-19 */

.section-19 .header-part {
  height: 30px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.section-19 .iner {
  padding: 0px 15px;
  /* margin-bottom: 20px; */
}

.section-19 .iner-wrap {
  border-top: 2px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 20px;
}

/* demo */
.section-19 .demo {
  width: 100%;
  height: 100px;
}
/* end demo */

/* spotlight */

.section-19 .main {
  width: 70%;
  border-right: 1px solid #e5e5e5;
  padding-right: 20px;
}

.section-19 .box-spl {
  display: flex;
  justify-content: space-between;
}

.section-19 .img-spl {
  width: 60%;
}

.section-19 .text-spl {
  width: 40%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #f7f7f7;
  text-align: justify;
}

.section-19 .text-header {
  height: 30%;
  font-weight: bold;
  font-size: 19px;
  font-family: "Merriweather", serif;
}

.section-19 .text-data {
  height: 60%;
  opacity: 90%;
  font-size: 15px;
}

.section-19 .text-footer {
  height: 10%;
}

.section-19 .img-spl img {
  width: 100%;
  height: auto;
}

/* end spotlight */

/* infographic */

.section-19 .box-infographic {
  display: flex;
  justify-content: space-between;
}

.section-19 .box-info {
  width: 50%;
}

.section-19 .box-img-info {
  height: 80%;
}

.section-19 .box-info img {
  width: 100%;
  height: 100%;
}

.section-19 .box-info:nth-child(1) {
  margin-right: 10px;
}

.section-19 .box-info:nth-child(2) {
  margin-left: 10px;
}

.section-19 .text-info {
  font-weight: bold;
  font-size: 15px;
  font-family: "Merriweather", serif;
  height: 20%;
  margin-top: 20px;
}

/* end infographic */

/* sukien */

.section-19 .part-sk {
  padding: 20px 20px 0px 20px;
  background-color: #f7f7f7;
}

.section-19 .part-sk img {
  width: 100px;
  height: auto;
}

.section-19 .part-sk .header-part-sk {
  height: 25px;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  margin-bottom: 10px;
}

.section-19 .box-sk-main {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.section-19 .box-sk-branch {
  width: 50%;
  display: flex;
  padding-bottom: 15px;
}

.section-19 .box-sk-img {
  width: 32%;
}

.section-19 .box-sk-text {
  width: 67%;
}

/* .section-19 .box-sk-main:nth-child(1) {
  margin-right: 20px;
} */

/* end sukien */

.section-19 .iner-main {
  display: flex;
  justify-content: space-between;
  /* border-top: 1px solid black; */
}

.section-19 .iner-main .iner-branch {
  display: flex;
  width: 50%;
}

.section-19 .box {
  display: flex;
  height: 80%;
}

.section-19 .iner-branch:nth-child(1) {
  padding-right: 20px;
}

.section-19 .iner-branch:nth-child(2) {
  padding-left: 20px;
}

.section-19 .iner-main .iner-branch .text {
  width: 50%;
  margin-left: 20px;
  font-size: 15px;
}

.section-19 .iner-main .iner-branch .box-img {
  height: 200px;
}

.section-19 img {
  width: 260px;
  height: 156px;
}

.section-19 .text .text-header {
  font-weight: bold;
  font-size: 15px;
  height: 35%;
  margin-bottom: 5px;
  font-family: "Merriweather", serif;
}

.section-19 .iner-branch:nth-child(1) {
  border-right: 1px solid #e5e5e5;
}

/* xem nhieu */

.section-19 .header-part-seen {
  border-bottom: 1px solid #e5e5e5 ;
  height: 30px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 9px;
  font-size: 20px;
  margin-bottom: 12px;
}



.section-19 .box-seen-main-fix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.section-19 .box-seen-main-fix::before {
  content: "";
  width: 1px;
  height: 95%;
  position: absolute;
  top: 0;
  left: 50%;
  background: #e5e5e5;
}

.section-19 .box-seen-branch {
  width: 50%;
  height: auto;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}


.section-19 .box-seen-branch:nth-child(7) {
  border-bottom: 0px ;
  margin-bottom: 0;
}
.section-19 .box-seen-branch:nth-child(8) {
  border-bottom: 0px ;
  margin-bottom: 0px;
}

.section-19 .box-seen-branch-body {
  display: flex;
  align-items: flex-start;
}

.section-19 .box-seen-branch-number {
  width: 10%;
  font-size: 48px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  position: relative;
  top: -11px;
  margin-right: 10px;
}

.section-19 .box-seen-branch-text {
  width: 90%; 
  font-size: 15px;
  font-family: "Merriweather", serif;
  display: flex;
}

.section-19 .part-seen {
  margin-top: 20px;
}

.section-19 .box-seen-branch:nth-child(odd) {
  padding-right: 15px;
}
.section-19 .box-seen-branch:nth-child(even) {
  padding-left: 20px;
}

/* end xem nhieu */

/* Ảnh */

.section-19 .box-img-main {
  display: flex;
}

.section-19 .box-img-branch-1 {
  width: 75%;
}

.section-19 .box-img-branch-2 {
  width: 25%;
}

.section-19 .box-img-main img {
  width: 100%;
  height: auto;
}

.section-19 .part-img .box-img-branch-text {
  padding: 20px;
  height: 50%;
  color: rgb(195, 179, 179);
}

.section-19 .part-img .box-img-branch-text:nth-child(1) {
  background-color: black;
}

.section-19 .part-img .box-img-branch-text:nth-child(2) {
  background-color: rgb(122, 51, 51);
}

.section-19 .part-img .box-img-branch-text-header {
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  height: 40%;
  margin-bottom: 10px;
}

.section-19 .part-img .box-img-branch-text-data {
  font-size: 15px;
  font-family: "Merriweather", serif;
  height: 60%;
}

/* Ảnh */

/* section-19 end */

/* section - 20 */

.section-20 .iner-main {
  width: 100%;
  height: 300px;
  border: 1px solid #e5e5e5;
  padding: 20px;
  background-color: #f7f7f7;
  margin-top: 20px;
}

.section-20 .iner-branch {
  width: 100%;
  height: 100%;
}

.section-20 .content-header {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* Độ dày của gạch dưới */
  text-underline-offset: 4px; /* Khoảng cách giữa chữ và gạch dưới */
}
.section-20 .iner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  position: relative;
}

.section-20 .box {
  margin-right: 20px;
}

.section-20 .box:nth-child(4) {
  margin-right: 0;
}

.section-20 .box-img {
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.section-20 .text {
  height: 20%;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Merriweather", serif;
}

/* section - 20 end */
/* /* design footer * */
.footer .container {
  max-width: 1100px;
}
.footer .inner-wrap {
  border-top: 5px solid #e5e5e5;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 15px;
  color: var(--color--second);
}
.footer .inner-top {
  display: flex;
}
.footer .inner-menu-footer {
  width: 170px;
  padding-right: 30px;
  font-size: 14px;
  position: relative;
}
.footer .inner-menu-footer .inner-menu-item {
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.footer .inner-menu-footer:first-child {
  font-weight: bold;
}
.footer .inner-menu-footer .inner-menu-item a {
  position: relative;
  display: inline-block;
}
.footer .inner-menu-footer a:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #222;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer .inner-menu-footer:first-child a:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color--title);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.footer .inner-menu-footer:first-child .inner-menu-item:nth-child(6) {
  padding-top: 15px;
  border-top: 1px solid var(--color--third);
}
.footer .inner-menu-footer:nth-child(5)::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -15px;
  background: var(--color--third);
}
.footer .inner-contact {
  width: 250px;
  position: relative;
  line-height: 120%;
  /* left: 30px; */
}
.footer .inner-contact::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: -15px;
  background: var(--color--third);
}
.footer .inner-contact .download-app {
  margin-bottom: 8px;
}
.footer .inner-contact .download-app a img {
  vertical-align: middle;
}
.footer .inner-contact .download-app a span {
  vertical-align: middle;
}
.footer .inner-contact .download-app p {
  margin-bottom: 6px;
}
.footer .inner-contact .download-app .left {
  width: 120px;
  float: left;
  border-radius: 3px;
  height: 32px;
  line-height: 30px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-right: 10px;
}
.footer .inner-contact .download-app .right {
  width: 120px;
  float: left;
  border-radius: 3px;
  height: 32px;
  line-height: 30px;
  background: #f7f7f7;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  display: block;
  text-align: center;
}
.footer .inner-contact .download-app .right:hover {
  background-color: var(--color--third);
}
.footer .inner-contact .download-app .left:hover {
  background-color: var(--color--third);
}
.footer .inner-contact .download-app .right::after {
  content: "";
  display: table;
  clear: both;
}
.footer .inner-contact .contact .mail {
  width: 120px;
  float: left;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  margin-right: 10px;
}
.footer .inner-contact .contact .mail:hover {
  color: var(--color--four);
}
.footer .inner-contact .contact .mail i {
  color: #bdbdbd;
  font-size: 16px;
}
.footer .inner-contact .contact .ads i {
  color: #06777e;
}

.footer .inner-contact .contact p {
  margin-bottom: 8px;
}
.footer .inner-contact .contact .ads {
  width: 120px;
  float: right;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: left;
}
.footer .inner-contact .contact .ads:hover {
  color: var(--color--four);
}
.footer .inner-contact .hotline {
  padding-top: 8px;
  border-top: 1px solid #e0e0e0;
}
.footer .inner-contact .hotline p {
  color: var(--color--second);
  line-height: 120%;
  margin-bottom: 10px;
}
.footer .inner-contact .hotline .left {
  float: left !important;
}
.footer .inner-contact .hotline .right {
  float: right !important;
}
.footer .inner-contact .hotline strong {
  font-size: 16px;
  font-weight: bold;
  color: var(--color--title);
}
.footer .inner-contact .hotline .left p {
  margin-top: 5px;
  font-size: 12px;
  color: var(--color--second);
}
.footer .inner-contact .hotline .right p {
  margin-top: 5px;
  font-size: 12px;
  color: var(--color--second);
}
.footer .inner-contact .hotline::after {
  content: "";
  display: table;
  clear: both;
}

.footer .inner-contact .wrap-footer {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid #e0e0e0;
}
.footer .inner-contact .wrap-footer .inner-warm {
  margin-bottom: 4px;
  color: var(--color--title);
  display: flex;
  padding-right: 22px;
  justify-content: center;
  align-items: center;
}
.footer .inner-contact .wrap-footer .inner-warm img {
  margin-bottom: 5px;
}
.footer .inner-contact .wrap-footer .inner-warm strong {
  font-size: 13px;
  margin-left: 10px;
}
.footer .inner-contact .wrap-footer .inner-desc {
  background: none !important;
  border: 0;
  padding: 0;
  gap: 6px;
  color: #4f4f4f !important;
  /* text-align:start; */
}
.footer .inner-contact .wrap-footer .inner-content {
  float: left;
  width: 65%;
}
.footer .inner-contact .wrap-footer a {
  float: right;
}
.footer .inner-contact .wrap-footer .inner-content p {
  line-height: 1.4 !important;
  margin: 0 !important;
  font-family: Arial;
  color: #4f4f4f;
}
.btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background: #8b1e44;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  /* height: 44px; */
  padding: 8px 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  margin-top: 12px;
}

.footer .inner-main {
  border-bottom: 1px solid var(--color--third);
  border-top: 1px solid #bdbdbd;
  color: #757575;
  font-size: 14px;
  line-height: 120%;
  padding: 10px 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .inner-main p {
  position: relative;
  top: 3px;
  float: left;
}
.footer .inner-main a {
  margin-left: 10px;
  display: inline-block;
}
.footer .inner-main a:hover {
  text-decoration: underline;
}
.footer .inner-main .logo-ft {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 0;
}
.footer .inner-main .logo-ft span {
  display: inline-block;
  vertical-align: top;
  margin: 5px 8px 0 0;
  color: var(--color--title);
}
.footer .inner-main .logo-ft img {
  width: 140px;
}
.footer .inner-main .right-flexbox {
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .inner-main .right-flexbox .txt-follow {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #e5e5e5;
  color: var(--color--second);
}
.footer .inner-main .right-flexbox .ic {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  color: var(--color--second);
}
.footer .inner-main .right-flexbox .icon-facebook:hover {
  color: #3b5999;
}
.footer .inner-main .right-flexbox .icon-twitter:hover {
  color: #55acee;
}
.footer .inner-main .right-flexbox .icon-youtube:hover {
  color: #cc0000;
}
.footer .inner-footer {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}
/* end footer  */
.move-to-top {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 1px solid var(--color--second);
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.move-to-top i {
  font-size: 20px;
  color: var(--color--second);
}
